<% if model.errors.any? %> <%# このrenderファイルは全てのmodelに共通して使用するため"model" %>
  <div class="error-alert">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class = 'error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>